In [1]:
print 'this is a string'

this is a string

In [3]:
s = 'STRING'

In [4]:
print 'place my variable here: %s' %(s)

place my variable here: STRING

In [10]:
print 'floating point number %2.3f' %(42.797)

floating point number 42.797

In [11]:
print 'convert to string %s' %(688887)

convert to string 688887

In [12]:
print 'convert to string %r' %(868)

convert to string 868

In [14]:
print 'my first id %s and second is %s and third is %s' %(12,88,21896)

my first id 12 and second is 88 and third is 21896

In [16]:
print 'first {x} second {y}'.format(x = 'the', y = 'string')

first the second string

In [17]:
from __future__ import print_function
print ('first {x} second {y}'.format(x = 'the', y = 'string'))

first the second string